* {
    margin: 0;
    padding: 0;
}

html {
    color:#4a4a4a;
    background-color: #dfdfdf;
}

/* header and nav area */
header {
    position: fixed;
    background-color: #f8f8f8;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px 1px;
    width:100%;
    z-index: 2;

}

.logo {
    margin-left: 30px;
}

.logo img {
    width: 3rem;
    padding: 0 1rem;
}
.logo a {
    text-decoration: none;
    font-size: 2.5rem;
    color:#4a4a4a;
    font-family: 'Great Vibes', cursive;
}

.main-nav ul {
    display: flex;
    justify-content: flex-end;
    
}

.main-nav li {
    padding: 0 30px;
    list-style: none;
    
}

@media only screen and (max-width: 850px) {
    header{
        position: relative;
        padding: 0;
    }
    #cookie { 
        display: none;
    }
    .main-nav li {
        padding: 0 15px;
        list-style: none;
        
    }
}

/* Banner area */
.banner {
    background-image: url("../images/biscotti1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 1000px;
    width: 100%;
    z-index: 0;
    padding-top: 6rem;
    
}

.card {
    display: inline-block;
    position: relative;
    background-color: rgba(211, 211, 211, 0.904);
    height: 600px;
    width: 500px;
    left: 200px;
    top:200px;
    z-index: 1;
    border-radius: 20px;
    
}

.card h2{
    background-color: rgb(228, 228, 228);
    font-size: 2rem;
    padding: 20px;
    color: rgb(70, 70, 70);
    font-family: 'Great Vibes', cursive;
    border-bottom: 3px solid rgb(0, 216, 0);

}

.card p {
    font-size: 1.7rem;
    padding: 15px;
    color: rgb(53, 53, 53);
    font-style: Italic;

}

.order-button {
    background-color: rgb(197, 47, 47);
    color: white;
    font-size: 1.8rem;
    text-align: center;
    /* padding: 50px 100px; */
    border-radius: 20px;
    width: 80%;
    margin: 50px auto;
    padding: 50px 0;
}

@media only screen and (max-width: 850px) {
    .card {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 80%;
        height: 400px;
        background-color: rgba(211, 211, 211, 0.733);
    }
    .banner {
        position: relative;
        margin-top: 2rem;
        margin: 2rem auto;
        width: 80%;
        height: 50%;
        background-position: center;
        padding: 3rem 0 3rem 0;
        
    }
    .order-button {
        padding: 10px;
        margin: 10px auto;
    }
}

/* Products area */

.products h2 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    text-decoration: underline;
    padding: 3rem;
    font-weight: 100;
}

hr{
        margin: 30px 0;
        height: 1px;
        border: none;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}

.product-container{
    display: flex;
    justify-content: space-around;
    margin: 100px 200px;
}

.biscotti-card {
    width: 350px;
    height: 400px;
    background-color: rgb(212, 207, 189);
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px;
    margin: 10px;
}

.biscotti-card img {
    display: block;
    position: relative;
    margin: 0 auto 25px ;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 -230px;
    
}

.description {
    background-color: rgb(54, 54, 54);
    color: rgb(233, 233, 233);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    height: 54px;
}

.price {
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
    bottom: 0;
}

.product-order {
    position: relative;
    background-color: rgb(77, 214, 77);
    padding: 10px 20px;
    border-radius: 10px;
    left: 30%;
    
}

@media only screen and (max-width: 1400px) {

    .product-container{
        flex-direction: column;
        align-items: center;
    
    }
}

/* Locations area */
.locations hr {
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(255, 255, 255)));

}
.locations {
    background-color:#4a4a4a;
    color: rgb(212, 207, 189)}

.locations h2 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    text-decoration: underline;
    padding: 3rem;
    font-weight: 100;
}

.locations-container {
    display: flex;
    justify-content: center;
   
}

.location-card {
    padding: 80px;
    text-align: center;
    font-size: 1.8rem;
}

.locations img {
    width: 600px;
    height: 400px;
    display: block;
    position: relative;
    margin: 0 auto 25px ;
    object-fit: cover;
}

@media only screen and (max-width: 1400px) {

    .locations-container{
        flex-direction: column;
        align-items: center;
    
    }
}

/* Footer area */
footer {
    margin: 50px;
}
